<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="smartbannerPath" value="D:\GitHub\plugin\tools\smartbanner_new"/>
    <add key="ttlibPath" value="D:\GitHub\plugin\tools\lib"/>
    <add key="basePluginPath" value="D:\GitHub\plugins\api\mobiquo"/>
    
    <add key="bcPath" value="C:\Program Files (x86)\Beyond Compare 4\BCompare.exe"/>
  </appSettings>
</configuration>